h3{
     text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background: #2a2a2a;
    padding: 10px;
    border-radius: 10px;
    max-width: 900px;
    margin: 0;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    align-items: center;
    min-width: 550px;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;
    padding-top: 20px;
    gap: 9px 0px;
    text-align: center;
    align-items: center;
}



