body {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    padding-top: 20px;
    gap: 9px 0px;
}

table {
    border-collapse: separate;
    width: 700px;
    margin: auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #090909;
    padding: 20px;
    border: 1px solid #3a3a3a;
    color: aliceblue;
    border-radius: 17px;
}

th,
td {
    border: 1px solid #252525;
    padding: 10px;
    text-align: center;
}
td{
    background-color: #555454;
}

th {
    background-color: #3a3a3a;
}

div {
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: #222121;
    padding: 20px;
    border: 2px solid #252525;
    color: aliceblue;
    border-radius: 17px;
    max-width: 800px;
    text-align: center;
}
h3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background: #2a2a2a;
    padding: 10px;
    border-radius: 10px;
    width: 700px;
    margin: auto;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    align-items: center;

}

h3.red{
    background-color: #6f0a0a;
    color: white;
}
h3.yellow{
    background-color: #d8bd5a;
    color: white;
}
h3.green{
    background-color: #4caf50;
    color: white;
}